* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-image: url("../images/bd.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #042b1e;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav-title a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #fff;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.main p {
    margin-top: 200px;
    width: 70%;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    color: #fff
}

.main {
    margin-top: 20px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 300px;
}

.col {
    width: 70%;
}

.form-content {
    width: 100% !important;
    margin: auto;
    color: #303030;
    background: transparent;
    text-align: center;
    padding: 30px;
}

.content {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 15px 0px 10px 0px !important;
}

.input-group input {
    height: 35px !important;
    width: 93% !important;
    padding: 5px 10px !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    border: 1px solid gray !important;
    margin-top: 10px !important;
}

.btn {
    padding: 10px !important;
    font-size: 15px !important;
    color: white !important;
    background: #5F9EA0 !important;
    border: none !important;
    border-radius: 5px !important;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

table {
    color: #fff;
    background-color: #fff;
}